<link rel="stylesheet" href="website/css/detail.subheader.css">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:600,400italic,700italic&amp;family=Source+Code+Pro:400' rel='stylesheet' type='text/css'>
<div class="small-5 large-3 columns">
    <a href="#">
        <button><i class="fa fa-chevron-circle-left"></i>Back</button>
    </a>
</div>
<div class="small-7 large-3 large-push-6 columns">
    <a href="#">
        <button><i class="fa fa-arrow-circle-down"></i>Download</button>
    </a>
</div>
<div class="large-6 large-pull-3 columns">
    <!-- <div class="border"> -->
        <img ng-src="Source/{{ choice }}/icon.png">
        <h1>{{ choice }}</h1>
    <!-- </div> -->
</div>
