<link rel="stylesheet" href="website/css/detail.subheader.css">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic|Source+Code+Pro:400' rel='stylesheet' type='text/css'>
<div class="large-4 columns">
    <a href="#">
        <button><i class="fa fa-chevron-circle-left"></i>Back to List</button>
    </a>
</div>
<div class="large-4 large-push-4 columns">
    <a href="#">
        <button><i class="fa fa-arrow-circle-down"></i>Download (not yet)</button>
    </a>
</div>
<div class="large-4 large-pull-4 columns">
    <img id="icon" ng-src="Source/{{ choice }}/icon.png">
</div>