<link rel="stylesheet" href="website/css/detail.subheader.css">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:600,400italic,700italic' rel='stylesheet' type='text/css'>
<div class="large-3 columns">
    <a href="#">
        <button><i class="fa fa-arrow-left"></i>Back to List</button>
    </a>
</div>
<div class="large-3 large-push-6 columns">
    <a href="#">
        <button><i class="fa fa-arrow-down"></i>Download (not&nbsp;yet)</button>
    </a>
</div>
<div class="large-6 large-pull-3 columns">
    <!-- <div class="border"> -->
        <img ng-src="Source/{{ choice }}/icon.png">
        <h1>{{ choice }}</h1>
    <!-- </div> -->
</div>
