/*
  Icon Font: brandfont
*/

@font-face {
  font-family: "brandfont";
  src: url("../fonts/brandfont_8915a355811ed16d0b0aaa129a62dcd7.eot");
  src: url("../fonts/brandfont_8915a355811ed16d0b0aaa129a62dcd7.eot?#iefix") format("embedded-opentype"),
       url("../fonts/brandfont_8915a355811ed16d0b0aaa129a62dcd7.woff") format("woff"),
       url("../fonts/brandfont_8915a355811ed16d0b0aaa129a62dcd7.ttf") format("truetype"),
       url("../fonts/brandfont_8915a355811ed16d0b0aaa129a62dcd7.svg#brandfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "brandfont";
    src: url("../fonts/brandfont_8915a355811ed16d0b0aaa129a62dcd7.svg#brandfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.bf-behance:before,
.bf-behance-square:before,
.bf-cc-amex:before,
.bf-cc-discover:before,
.bf-cc-mastercard:before,
.bf-cc-paypal:before,
.bf-cc-stripe:before,
.bf-cc-visa:before,
.bf-drupal:before,
.bf-drupal-square:before,
.bf-google-wallet:before,
.bf-google-wallet-square:before,
.bf-instapaper:before,
.bf-instapaper-square:before,
.bf-joomla:before,
.bf-joomla-square:before,
.bf-lastfm:before,
.bf-lastfm-square:before,
.bf-paypal:before,
.bf-paypal-square:before,
.bf-shapeways:before,
.bf-shapeways-square:before,
.bf-soundcloud:before,
.bf-soundcloud-square:before,
.bf-steam:before,
.bf-steam-square:before,
.bf-vimeo:before,
.bf-vimeo-square:before,
.bf-wordpress:before,
.bf-wordpress-square:before,
.bf-yelp:before,
.bf-yelp-square:before {
  display: inline-block;
  font-family: "brandfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.bf-behance:before { content: "\f11f"; }
.bf-behance-square:before { content: "\f120"; }
.bf-cc-amex:before { content: "\f100"; }
.bf-cc-discover:before { content: "\f101"; }
.bf-cc-mastercard:before { content: "\f102"; }
.bf-cc-paypal:before { content: "\f103"; }
.bf-cc-stripe:before { content: "\f104"; }
.bf-cc-visa:before { content: "\f105"; }
.bf-drupal:before { content: "\f119"; }
.bf-drupal-square:before { content: "\f11a"; }
.bf-google-wallet:before { content: "\f123"; }
.bf-google-wallet-square:before { content: "\f124"; }
.bf-instapaper:before { content: "\f113"; }
.bf-instapaper-square:before { content: "\f111"; }
.bf-joomla:before { content: "\f11b"; }
.bf-joomla-square:before { content: "\f11c"; }
.bf-lastfm:before { content: "\f109"; }
.bf-lastfm-square:before { content: "\f10a"; }
.bf-paypal:before { content: "\f106"; }
.bf-paypal-square:before { content: "\f107"; }
.bf-shapeways:before { content: "\f10b"; }
.bf-shapeways-square:before { content: "\f10c"; }
.bf-soundcloud:before { content: "\f11d"; }
.bf-soundcloud-square:before { content: "\f11e"; }
.bf-steam:before { content: "\f115"; }
.bf-steam-square:before { content: "\f116"; }
.bf-vimeo:before { content: "\f110"; }
.bf-vimeo-square:before { content: "\f10f"; }
.bf-wordpress:before { content: "\f121"; }
.bf-wordpress-square:before { content: "\f122"; }
.bf-yelp:before { content: "\f114"; }
.bf-yelp-square:before { content: "\f112"; }
