#readme {
    margin: 1rem 0;
    padding: 1rem;
    padding-top: 0;
    background: #F0F0F0;
    border-radius: 0.25rem;
}

#readme h1,
#readme h2,
#readme h3,
#readme h4,
#readme h5,
#readme h6 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

#readme h1, #readme h2 {
    padding-top: 1rem;
    border-bottom: 1px solid #808080;
}
#readme h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
}
#readme h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}
#readme h4 {
    padding-top: 1rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#readme p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
}

#readme small {
    font-size: 0.75rem;
    line-height: 1rem;
}

#readme ul {
    padding: 0;
    margin: 0;
    margin-left: 1.5rem;
}
#readme li {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;
}

#readme hr {
    
}

#readme table {
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #D0D0D0;
    border-collapse: separate;
    overflow: hidden;
}
#readme thead {
    background: #E0E0E0;
}
#readme thead * {
    font-weight: 600;
}
#readme tbody tr:nth-child(odd) {
    background: #FFF;
}
#readme tbody tr:nth-child(even) {
    background: #F0F0F0;
}
#readme th, #readme td {
    padding: 0.5rem;
}

#readme img {
    margin: 0;
    margin-top: 0.5rem;
    background: #E0E0E0;
    border: 1px solid #D0D0D0;
    border-radius: 0.25rem;
}

#readme b,
#readme strong {
    font-weight: 600;
}

#readme a {
    font-weight: normal;
}

#readme pre, #readme code {
    font-family: 'Source Code Pro' !important;
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: #000;
    word-break: break-word;
    background: #F0F0F0;
    border: 1px solid #D0D0D0;
    border-radius: 0.25rem;
}
#readme pre {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
}
#readme pre code {
    border: none;
}
#readme code {
    padding: 0.125rem 0.25rem;
}

