/* Header styling */

@media only screen and (min-width: 64.063em) {
    #header h1 {
        display: inline-block !important;
        margin: 0;
        font-size: 2rem !important;
        line-height: 3rem !important;
    }
    
    #logo {
        display: inline-block !important;
    }
    
    #logo img {
        height: 3em !important;
        margin-top: -1rem !important;
        margin-right: 0.5rem !important;
    }
    
} /* large screens and up */

#header {
    padding: 1rem;
}

#header img {
    height: 4rem;
    margin-top: -1rem;
    margin-right: 0.25rem;
}
#header h1 {
    display: inline-block;
    font-size: 2rem;
    line-height: 4rem;
}

/* Subheader styling */
#subheader h1 {
    margin: 0;
/*    margin-top: 1rem;*/
    font-size: 3rem;
    line-height: 3.5rem;
    color: #404040;
    font-weight: 600;
}

#subheader img {
/*    text-align: center;*/
    margin: 0;
    margin-top: 1rem;
/*    margin-top: -1.5rem;*/
/*    margin-right: 1rem;*/
    background: #E0E0E0;
/*    border: 1px solid #D0D0D0;*/
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: inline-block;
    height: 64px;
    box-sizing: content-box;
}

#subheader .border {
    background: gainsboro;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0;
    border-radius: 0.25rem;
}
