#readme {
    margin: 1rem;
    padding: 1rem;
    padding-top: 0;
    background: whitesmoke;
    border-radius: 0.25rem;
}
#readme h4 {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

#readme p {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
}

#readme pre, #readme code {
    font-family: 'Source Code Pro' !important;
}