/* Header styling */
#header {
    padding: 0.5rem;
}

#header img {
    height: 4rem;
    margin-top: -1rem;
    margin-right: 0.25rem;
}
#header h1 {
    display: inline-block;
    font-size: 2rem;
    line-height: 4rem;
}

/* Subheader styling */
#subheader h1 {
    margin: 0;
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 3.5rem;
    display: inline-block;
    color: black;
    font-weight: 600;
}

#subheader img {
    margin: 0;
    margin-top: -1.5rem;
    margin-right: 1rem;
    display: inline-block;
    height: 3rem;
}

#subheader .border {
    background: gainsboro;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0;
    border-radius: 0.25rem;
}