#subheader h1 {
    margin: 0;
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 3.5rem;
    display: inline-block;
    color: black;
    font-weight: 600;
}

#subheader img {
    margin: 0;
    margin-top: -1.5rem;
    margin-right: 1rem;
    display: inline-block;
    height: 3rem;
}

#subheader .border {
    background: gainsboro;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0;
    border-radius: 0.25rem;
}