.item {
    padding: 1rem;
    padding-bottom: 0;
    max-width: 100%;
}

.item a {
    background: #F0F0F0;
}
.item a:hover {
    background: #E0E0E0;
}

.item .border {
    width: 100%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 0;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    background: inherit;
    cursor: pointer;
}

.item img {
    padding: 1rem;
    width: 5em;
    float: left;
}

.item .fa {
    width: 2.5rem;
    font-size: 1.5rem;
    padding: 1rem 1rem 0 0;
    color: #C0C0C0;
    float: right;
}
.item a:hover .fa {
    color: #A0A0A0;
}

.item h2 {
    word-break: break-word;
    width: 100%;
    padding: 1rem 3.5rem 0 5rem;
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #404040; 
 }
.item p {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem 0 5rem;
    color: #808080;
    margin: 0;
}